.mobile{
    width: 390px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    
    border-radius: 40px;
    background-image: url("pxfuel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    border: #ffffff 2px solid;
    
   
    
}





.firstdiv{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}



.camera{
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px 40px  0px 0px;
    border-bottom: 2px rgb(255, 255, 255) solid;
    align-items: center;
    justify-content: center;
    display: flex;
 
}


@keyframes load2{
    0%{}
    20%{background-color:blanchedalmond}
    40%{background-color: cadetblue;}
    60%{background-color: darkgoldenrod;}
    90%{background-color: gold;}
    100%{background-color: maroon;}
}

.camera2{
    width: 15px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: load2;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;







}

 /**.camera3{
    background-color: rgb(165, 204, 25);
    width: 10px;
    height: 10px;
    border-radius: 60px;
    animation-name: load;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite ;
}
/**/


@keyframes load{
    0%{}
    10%{background-color: black;}
    30%{background-color: yellow;}
    60%{background-color: chartreuse;}
    80%{ background-color: cyan;}
    90%{transform: translate(-20px);}
    100%{transform: translate(20px);}
}

.fbdiv{
    width: 100%;
    display: flex;
    font-size: 50px;
    padding: 40px;
    height: 40px;
    padding: 20px;
    margin-top: 60px;
   
}



.fa-whatsapp{
    margin-left: 90px;
    color: green;
}

.fa-whatsapp:hover{
    color: rgb(255, 255, 255);
    transform: scale(0.9);
}

.fa-facebook{
    color: rgb(14, 196, 199);
}

.fa-facebook:hover{
    color: rgb(255, 255, 255);
    transform: scale(0.9);
}


a{
    text-decoration: none;
}


.fa-linkedin{
    color: #0A66C2 ;
    margin-left: 90px;
}

.fa-linkedin:hover{
    color: rgb(255, 255, 255);
    transform: scale(0.9);
}


.div2nd{
    width: 100%;
}



.fa-instagram{
    margin-top: 100px;
    color: rgb(253, 245, 4);
}



.fa-instagram:hover{
    color: rgb(255, 255, 255);
    transform: scale(0.9);
}

.fa-twitter {
    margin-left: 90px;
    color: darkturquoise;
}

.fa-twitter:hover{
    color: white;
    transform: scale(0.9);
}


.fa-phone{
    margin-left: 90px;
    color: #10a3a8;
}


.fa-phone:hover{
    color: white;
    transform: scale(0.9);
}




.div3rd{
    width: 100%;
   display: flex;
   margin-top: 70px;
}

.fa-envelope{
    color: rgb(2, 53, 98);
}


.fa-envelope:hover{
    color: white;
    transform: scale(0.9);
}



.fa-location-crosshairs{
    margin-left: 95px;
    color: rgb(255, 234, 0);
}


.fa-location-crosshairs:hover{
    color: white;
    transform: scale(0.9);
}

.fa-square-github{
    color: black;
    margin-left: 98px;
}

.fa-square-github:hover{
    color: rgb(255, 255, 255);
}

body{
    background-color: rgb(0, 0, 0);
}

.fa-facebook-messenger{
    color: rgb(249, 0, 83);
    
}

.mesengerdiv{
    margin-top: 60px;
}

.fa-facebook-messenger:hover{
    color: white;
    transform: scale(0.9);
}
.fa-google{
    color: yellow;
    margin-left: 90px;
}

.fa-google:hover{
    color: white;
    transform: scale(0.9);
}
.fa-youtube{
    color: red;
    margin-left: 80px;
}


.fa-youtube:hover{
    color: white;
    transform:scale(0.9);
}

.audiodiv{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #0A66C2;
}


.ad{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  
}
.lstdiv{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}


button{
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    margin-top: 10px;
    border-radius: 20px;
}

button:active{
    background-color: #0A66C2;
}

.lstdiv2{
 
    align-items: center;
    margin-top: -30px;
    
    justify-content: center;
    width: 100%;
   
}

p{
    color: white;
    text-align: center;
    margin-top: 120px;
    font-size: large;
    font-family: serif;
    font-weight: 400;
}

.redu{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}

.r{
    animation: rload 2s alternate infinite forwards;
}



@keyframes rload{
    0%{}
    25%{color: darkcyan;}
    50%{color: yellow;}
    75%{color: #00f7ff;}
    100%{color: darkred;}
 
}


.e{
    animation: eload 2s alternate infinite forwards;
}

@keyframes eload{

    0%{}
    25%{color: yellow;}
    50%{color: darkcyan;}
    75%{color: darkred;}
    100%{color: #00f7ff;}

}


.d{
    animation: dload 2s alternate infinite forwards;
}


@keyframes dload{
    0%{}
    25%{color:#00f7ff ;}
    50%{color: yellow;}
    75%{color:  darkcyan;}
    100%{color: darkred;}
}



.u{
    animation: uload 2s alternate infinite forwards;
}



@keyframes uload{    
    0%{}
    25%{color: darkcyan;}
    50%{color: yellow;}
    75%{color: #00f7ff;}
    100%{color: darkred;}

}


.a{
    animation: aload 2s alternate infinite forwards;
}

@keyframes aload{
    0%{}
    25%{color: yellow;}
    50%{color: darkcyan;}
    75%{color: darkred;}
    100%{color: #00f7ff;}
}

.n{
    animation: nload 2s alternate infinite forwards;
}


@keyframes nload{
    0%{}
    25%{color:#00f7ff ;}
    50%{color: yellow;}
    75%{color:  darkcyan;}
    100%{color: darkred;}
}

.phdiv{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}




.phdiv2{
    background-color: #000000;
    width: 390px;
    height: 390px;
    margin-top: px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 200px;
    
   
}


.phdiv3{
    width: 300px;
    height: 300px;
    background-image: url("IMG_20230101_165310626.PORTRAIT_2__2_-removebg-preview.png");
    border-radius: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    
}